// 已合并未使用
$theme:(
        blue:(
          primary-bg:#66ccff,
          primary-color:#FFF,
          menu-bg: #69c5bb,
          menu-text-color:#96c5bb,

          big-size:20px,
          normal-size:12px,

        ),
        black:(
                primary-bg:#66ccff,
                primary-color:#FFF,
                menu-bg: #69c5bb,
                menu-text-color:#96c5bb,

                big-size:20px,
                normal-size:12px,

        )

)